<div class="page">
  <div class="nav">
    <div class="menu1">
      <a [routerLink]="['/login']">Sair</a>
      <a [routerLink]="['/criar']">Criar</a>
    </div>

    <div class="logo">
      <img src="../../../assets/Images/ufclogo.png" alt="" />
    </div>

    <div class="menu2">
      <a [routerLink]="['/lutar']">Lutar</a>
      <a [routerLink]="['/treinar']">Treinar</a>
    </div>
  </div>

  <div class="content">
    <h2>UFC BRAGA 01</h2>
    <h1>À procura de uma nova vítima</h1>
  </div>

  <!--<video autoplay muted loop>
    <source src="../../../assets/Videos/vidbck.mp4" type="video/mp4" />
  </video>-->
</div>
